#content{
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.beschreibung{
    background-color: rgb(228, 226, 151);
    height: fit-content;
    margin-bottom: 20px;
    border: 5px solid darkgray;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
}
#bewertungen>div{
    display: grid;
    grid-template-columns: 125px 1fr 50px;
    min-height: 50px;
}
.bildBewertung{
    grid: 1 / 2;
    background-color: lightgray;
    display: grid;
    max-width: 125px;
}
.profilbild{
    justify-self: center;
    align-self: center;
    margin-bottom: 10px;
}
.textBewertung{
    grid: 2 / 3;
    background-color: orangered;
}
.scaleBewertung{
    grid: 3 / 4;
    background-color: orange;
    display: grid;
    grid-template-rows: 1fr 25px 25px 25px 25px 25px 1fr;
    justify-items: center;
}

h3{
    margin:5px;
    text-align: center;
}

p{
    margin-left: 10px;
    text-align: center;
}

.bewertungsDiv{
    border: 3px solid darkgray;
    border-radius: 5px;
}