.popup {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 30%;
    text-align: center;

    
    border: 5px solid darkgray;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin: 5px 0 15px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */

.cancel{
    align-self: end;
    width: 30px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

.cancel:hover {
    background-color: red;
}

h3{
    margin-top: 0px;
}